#todoList{
    border: 2px solid black;
    margin: auto;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inpDiv{
    border: 2px solid black;
    height: 35px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

#taskDiv{
    border: 2px solid black;
    width: 90%;
    height: 400px;
    margin-top: 15px;

}

table{
    border: 2px solid cyan;
    border-collapse: collapse;
    margin: auto;
}
th,td{
    border: 2px solid cyan;
    padding: 5px 10px;
}